body {
    padding: 0;
    margin: 0;
}

header {
    width: 80vw;
    margin-left:10vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 40px;
    padding: 20px 0px 20px 0px;
}

main {
    width: 80vw;
    margin-left:10vw;
}