.dkCard
{
    background-color: rgb(0,103,170);
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 5px;
}

.btnDk
{
    background-color: rgb(0,103,170);
    color: #FFFFFF;
    border: none;
}

.btnDk:hover{
    font-weight: 800;
}

.btnDkChoose
{
    background-color: rgb(4, 77, 126);
    border: none;
    color: #FFFFFF;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
}

.btnDkChoose:hover
{
    background-color: rgba(4, 77, 126, 0.85);
}

.fideszCard
{
    background-color: rgb(255, 106, 0);
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 5px;
}

.btnFidesz
{
    background-color: rgb(255, 106, 0);
    color: #FFFFFF;
    border: none;
}

.btnFidesz:hover{
    font-weight: 800;
}

.btnFideszChoose
{
    background-color: rgb(179, 89, 25);
    border: none;
    color: #FFFFFF;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
}

.btnFideszChoose:hover
{
    background-color: rgb(179, 89, 25, 0.85);
}

.momentumCard
{
    background-color: rgb(142,111,206);
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 5px;
}

.btnMomentum
{
    background-color:rgb(142,111,206);
    color: #FFFFFF;
    border: none;
}

.btnMomentum:hover{
    font-weight: 800;
}

.btnMomentumChoose
{
    background-color:rgb(65, 46, 104);
    border: none;
    color: #FFFFFF;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
}

.btnMomentumChoose:hover
{
    background-color: rgb(65, 46, 104, 0.85);
}

.jobbikCard
{
    background-color: rgb(0,131,113);
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 5px;
}

.btnJobbik
{
    background-color: rgb(0,131,113);
    color: #FFFFFF;
    border: none;
}

.btnJobbik:hover{
    font-weight: 800;
}

.btnJobbikChoose
{
    background-color: rgb(7, 85, 74);
    border: none;
    color: #FFFFFF;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
}

.btnJobbikChoose:hover
{
    background-color: rgb(7, 85, 74, 0.85);
}

.mszpCard
{
    background-color: rgb(204,0,0);
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 5px;
}

.btnMszp
{
    background-color: rgb(204,0,0);
    color: #FFFFFF;
    border: none;
}

.btnMszp:hover{
    font-weight: 800;
}

.btnMszpChoose
{
    background-color: rgb(129, 4, 4);
    border: none;
    color: #FFFFFF;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
}

.btnMszpChoose:hover
{
    background-color: rgb(129, 4, 4, 0.85);
}

.lmpCard
{
    background-color: rgb(160,207,103);
    color: #FFFFFF;
    font-weight: 800;
    border-radius: 5px;
}

.btnLmp
{
    background-color: rgb(160,207,103);
    color: #FFFFFF;
    border: none;
}

.btnLmp:hover{
    font-weight: 800;
}

.btnLmpChoose
{
    background-color: rgb(67, 114, 9);
    border: none;
    color: #FFFFFF;
    height: 30px;
    border-radius: 5px;
    font-weight: 800;
}

.btnLmpChoose:hover
{
    background-color: rgb(67, 114, 9, 0.85);
}